#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



/* Layout for sidebar + content */
.app-layout {
  display: flex;
  min-height: 100vh;
  background: white;
}

.app-content {
  flex: 1;
  padding: 2rem;
  margin-left: 100px; /* Match sidebar width */
}
